.filter-input-text {
  width: @base-spacing-unit * 6;
}

.filter-input-text-group {
  width: @base-spacing-unit * 9;

  // Hide native clear button in IE10+
  ::-ms-clear {
    display: none;
  }

  .icon {
    .opacity(.2);

    &.active {
      .opacity(1);
    }
  }
}
