.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal {
  position: static;

  .modal-content {
    .border-radius(0);
  }

  &.inverse {
    color: @modal-inverse-text-color;
    background-color: @modal-inverse-background-color;

    .modal-header {
      background-color: @modal-inverse-header-background-color
    }

    .modal-content {
      background-color: @modal-inverse-content-background-color;
    }

    .modal-footer {
      background-color: @modal-inverse-footer-background-color
    }
  }
}

.modal-backdrop {
  cursor: default;
}

.modal-enter {
  opacity: 0.01;
  transform: translate(0, -25%);
  transition: transform .5s ease-in, opacity .5s ease-in;
}

.modal-enter.modal-enter-active {
  transform: translate(0, 0);
  opacity: 1;
}
