.modal.fade.in {
  top: 25%;

  &.inverse {
    color: @modal-inverse-text-color;
    background-color: @modal-inverse-background-color;

    .modal-header {
      background-color: @modal-inverse-header-background-color
    }

    .modal-content {
      background-color: @modal-inverse-content-background-color;
    }

    .modal-footer {
      background-color: @modal-inverse-footer-background-color
    }
  }
}

.modal-backdrop {
  cursor: default;
}

.modal-intro-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.modal-intro-enter.modal-intro-enter-active {
  opacity: 1;
}
