.service-overlay {
  background: @white;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: @z-index-side-panel + 10;

  > .overlay-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  .overlay-frame {
    border: 0;
    flex: 3 3 100%;
    width: 100%;
  }

  .overlay-nav {
    align-items: center;
    background: @purple;
    display: flex;
    justify-content: space-around;

    .overlay-header {
      color: @white;
      flex: 3;

      .overlay-subheader {
        color: color-lighten(@purple, 50);
      }
    }

    > :first-child, > :last-child {
      flex: 1;
    }

    .overlay-nav-button {
      align-items: center;
      display: flex;
      .opacity(0.70);

      .icon {
        margin-right: @base-spacing-unit * 0.5;
      }

      .overlay-short-top {
        margin-top: 1px;
      }

      &:hover {
        .opacity(1);
      }
    }

    > :last-child > * {
      flex-direction: row-reverse;

      .icon {
        margin-left: @base-spacing-unit * 0.5;
        margin-right: 0;
      }
    }
  }
}

& when (@screen-mini-enabled) {
  @media (max-width: @screen-mini) {
    .service-overlay .overlay-nav .overlay-nav-button {
      padding: 0;
      justify-content: center;

      .overlay-short-top {
        display: none;
      }

      .icon {
        margin: 0;
      }
    }
  }
}

& when (@screen-mini-enabled) {
  @media (min-width: @screen-mini) {
    .service-overlay .overlay-nav {

      > :first-child, > :last-child {
        flex: 2;
      }

      .overlay-header {
        flex: 1;
      }
    }
  }
}

& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {
    .service-overlay .overlay-nav {

      > :first-child, > :last-child {
        flex: 1;
      }

      .overlay-header {
        flex: 1;
      }
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
    .service-overlay .overlay-nav .overlay-header {
      flex: 2;
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .service-overlay .overlay-nav .overlay-header {
      flex: 3;
    }
  }
}
