.service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: @white;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    height: 100%;
  }

  .overlay-back-button {
    float: left;
  }

  .overlay-frame {
    border: 0;
    width: 100%;
    flex: 3 3 100%;
  }

  .overlay-header {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    color: @white;
    position: absolute;
    top: 15px;
  }

  .overlay-nav {
    background: @purple;
  }

  .overlay-nav-button {
    padding: 10px;
    margin: 20px;
  }

  .overlay-new-window-button {
    float: right;
  }

  .overlay-subheader {
    opacity: 0.5;
    text-transform: capitalize;
    font-size: 14px;
  }
}
