.panel {
  background-color: @panel-background-color;
  margin-bottom: @grid-gutter-width;

  //.border-radius(@icon-medium-border-radius);

  .panel-heading {
    display: flex;
    border-bottom: 1px solid @border-color-inverse;
    padding: @base-spacing-unit / 2;
    line-height: @heading-h3-text-line-height;

    .panel-title {
      text-align: center;
      flex: 1;
      .flush-top();
      .flush-bottom();
    }

    .panel-options-left {
      .flush-top();
      .flush-bottom();
    }

    .panel-options-right {
      margin-left: auto;
      .flush-top();
      .flush-bottom();

      /* Hacky - please remove after panel-options-right is filled with content */
      &.fixed-width {
        display: none;
      }
    }

    &.panel-heading-large {
      padding: @base-spacing-unit @base-spacing-unit 0;
      border: 0;
    }
  }

  .panel-content {
    padding: @base-spacing-unit;
  }
  &.dashboard-panel {
    .panel-content {
      height: (@base-spacing-unit * 14) - @heading-h4-text-font-size;
    }
    // Fixes a Safari flex issue where panels overflow the column on resize
    width: 100%;
  }
}

& when (@screen-mini-enabled) {
  @media (min-width: @screen-mini) {
    .panel {
      margin-bottom: @grid-gutter-width;

      .panel-heading {
        padding: (@base-spacing-unit-screen-mini * 0.5) (@base-spacing-unit-screen-mini * 1);

        .panel-options-right {
          /* Hacky - please remove after panel-options-right is filled with content */
          &.fixed-width {
            display: block;
            width: @base-spacing-unit * 3.5;
          }
        }
      }

      .panel-content {
        padding: @base-spacing-unit-screen-mini * 1;
      }
      &.dashboard-panel {
        .panel-content {
          height: (@base-spacing-unit-screen-mini * 17) - @heading-h4-text-font-size-scale-screen-mini;
        }
      }
    }
  }
}

& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-small;

      .panel-heading {
        padding: (@base-spacing-unit-screen-small * 0.25) (@base-spacing-unit-screen-small * 0.5);

       .panel-options-right {
          /* Hacky - please remove after panel-options-right is filled with content */
          &.fixed-width {
            display: block;
            width: @base-spacing-unit * 8.1;
          }
        }
      }

      .panel-content {
        padding: @base-spacing-unit-screen-small * 0.5;
      }
      &.dashboard-panel {
        .panel-content {
          height: (@base-spacing-unit-screen-small * 10) - @heading-h4-text-font-size-scale-screen-small;
        }
      }
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-medium;

      .panel-heading {
        padding: (@base-spacing-unit-screen-medium * 0.25) (@base-spacing-unit-screen-medium * 0.5);

        .panel-options-right {
          /* Hacky - please remove after panel-options-right is filled with content */
          &.fixed-width {
            display: block;
            width: @base-spacing-unit * 8.8;
          }
        }

      }

      .panel-content {
        padding: @base-spacing-unit-screen-medium * 0.5;
      }
      &.dashboard-panel {
        .panel-content {
          height: (@base-spacing-unit-screen-medium * 7.5) - @heading-h4-text-font-size-scale-screen-medium;
        }
      }
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-large;

      .panel-heading {
        padding: (@base-spacing-unit-screen-large * 0.25) (@base-spacing-unit-screen-large * 0.5);
      }

      .panel-content {
        padding: @base-spacing-unit-screen-large * 0.5;
      }
      &.dashboard-panel {
        .panel-content {
          height: (@base-spacing-unit-screen-large * 5.5) - @heading-h4-text-font-size-scale-screen-large;
        }
      }
    }
  }
}

& when (@screen-x-large-enabled) {
  @media (min-width: @screen-x-large) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-x-large;

      .panel-heading {
        padding: (@base-spacing-unit-screen-x-large * 0.25) (@base-spacing-unit-screen-x-large * 0.5);
      }

      .panel-content {
        padding: @base-spacing-unit-screen-x-large * 0.5;
      }
      &.dashboard-panel {
        .panel-content {
          height: (@base-spacing-unit-screen-x-large * 5) - @heading-h4-text-font-size-scale-screen-large;
        }
      }
    }
  }
}


/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

components/panels.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@panel-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Panel

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .panel {

    /* -----------------------------------------------------------------------------
    Panel (Flex)
    ----------------------------------------------------------------------------- */

    &.panel-flex {

      display: flex;
      flex: 1;
      flex-direction: column;

      .panel-content {

        flex-grow: 1;

      }

      .panel-footer {

      }

    }



    /* -----------------------------------------------------------------------------
    Panel (Flex)
    ----------------------------------------------------------------------------- */

    &.panel-simple {

      .panel-content + .panel-footer {

        padding-top: 0px;
        border-width: 0px;

      }

    }



    /* -----------------------------------------------------------------------------
    Panel (Light)
    ----------------------------------------------------------------------------- */

    &.panel-light {

      background: @white;



      /* -----------------------------------------------------------------------------
      Panel Header (Inverse)
      ----------------------------------------------------------------------------- */

      .panel-header {

      }



      /* -----------------------------------------------------------------------------
      Panel Content (Inverse)
      ----------------------------------------------------------------------------- */

      .panel-content {

      }



      /* -----------------------------------------------------------------------------
      Panel Footer (Inverse)
      ----------------------------------------------------------------------------- */

      .panel-footer {

      }

    }

    /* -----------------------------------------------------------------------------
    Panel (Frame)
    ----------------------------------------------------------------------------- */

    &.panel-frame {

      margin: -@grid-gutter-width;
      padding: @grid-gutter-width;
      margin-bottom: -@grid-gutter-width + @base-spacing-unit;

      &.panel-frame-pull-top {

        margin-top: -(@container-pod-padding-vertical);
        padding-top: (@container-pod-padding-vertical);

      }

      &.panel-frame-pull-bottom {

        margin-bottom: -(@container-pod-padding-vertical) + @base-spacing-unit;
        padding-bottom: (@container-pod-padding-vertical);

      }

      &.flush-bottom {

        margin-bottom: -(@container-pod-padding-vertical);

      }

    }

    /* -----------------------------------------------------------------------------
    Panel (Info)
    ----------------------------------------------------------------------------- */

    &.panel-info {

      background: color-lighten(@blue, 90);
      color: color-lighten(@blue, -20);

      strong {

        color: color-lighten(@blue, -20);

      }

      a {

        color: color-lighten(@blue, 0) !important;
        text-decoration: underline;

      }

    }

    /* -----------------------------------------------------------------------------
    Panel (Warning)
    ----------------------------------------------------------------------------- */

    &.panel-warning {

      background: color-lighten(@orange, 90);
      color: color-lighten(@orange, -20);

      strong {

        color: color-lighten(@orange, -20);

      }

      a {

        color: color-lighten(@orange, 0) !important;
        text-decoration: underline;

      }

    }

    /* -----------------------------------------------------------------------------
    Panel (Danger)
    ----------------------------------------------------------------------------- */

    &.panel-danger {

      background: color-lighten(@red, 90);
      color: color-lighten(@red, -20);

      strong {

        color: color-lighten(@red, -20);

      }

      a {

        color: color-lighten(@red, 0) !important;
        text-decoration: underline;

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Panel (Link)
  ----------------------------------------------------------------------------- */

  a.panel {

    .transition(e('box-shadow 0.2s ease, transform 0.2s ease'));

    &:hover {

      text-decoration: none;
      .box-shadow(e('0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0px 6px 10px 0px rgba(0, 0, 0, 0.1)'));
      cursor: pointer;

    }

  }

}






& when (@panel-enabled) and (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Panel

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .panel {

      /* -----------------------------------------------------------------------------
      Panel (Frame)
      ----------------------------------------------------------------------------- */

      &.panel-frame {

        margin: -@base-spacing-unit-screen-mini;
        padding: @base-spacing-unit-screen-mini;
        margin-bottom: @base-spacing-unit-screen-mini;

        &.panel-frame-pull-top {

          margin-top: -(@container-pod-padding-vertical-screen-mini);
          padding-top: (@container-pod-padding-vertical-screen-mini);

        }

        &.panel-frame-pull-bottom {

          margin-bottom: -(@container-pod-padding-vertical-screen-mini) + @base-spacing-unit-screen-mini;
          padding-bottom: (@container-pod-padding-vertical-screen-mini);

        }

        &.flush-bottom {

          margin-bottom: -(@container-pod-padding-vertical-screen-mini);

        }

      }

    }

  }

}






& when (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Panel

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .panel {

      /* -----------------------------------------------------------------------------
      Panel (Frame)
      ----------------------------------------------------------------------------- */

      &.panel-frame {

        padding: @grid-gutter-width-screen-small * 0.5;
        margin: (-@grid-gutter-width-screen-small * 0.5) 0px;
        margin-bottom: @base-spacing-unit-screen-small * 0.5;

        &.panel-frame-pull-top {

          margin-top: -((@grid-gutter-width-screen-small * 0.5) + @container-pod-padding-vertical-screen-small);
          padding-top: ((@grid-gutter-width-screen-small * 0.5) + @container-pod-padding-vertical-screen-small);

        }

        &.panel-frame-pull-bottom {

          margin-bottom: -((@grid-gutter-width-screen-small * 0.5) + @container-pod-padding-vertical-screen-small) + @base-spacing-unit-screen-small;
          padding-bottom: ((@grid-gutter-width-screen-small * 0.5) + @container-pod-padding-vertical-screen-small);

        }

        &:flush-bottom {

          margin-bottom: -((@grid-gutter-width-screen-small * 0.5) + @container-pod-padding-vertical-screen-small);

        }

        &.panel-frame-pull-left {

          margin-left: -1000%;
          padding-left: 1000%;

        }

        &.panel-frame-pull-right {

          margin-right: -1000%;
          padding-right: 1000%;

        }

      }

    }

  }

}






& when (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Panel

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .panel {

      /* -----------------------------------------------------------------------------
      Panel (Frame)
      ----------------------------------------------------------------------------- */

      &.panel-frame {

        padding: @grid-gutter-width-screen-medium * 0.5;
        margin: (-@grid-gutter-width-screen-medium * 0.5) 0px;
        margin-bottom: @base-spacing-unit-screen-medium * 0.5;

        &.panel-frame-pull-top {

          margin-top: -((@grid-gutter-width-screen-medium * 0.5) + @container-pod-padding-vertical-screen-medium);
          padding-top: ((@grid-gutter-width-screen-medium * 0.5) + @container-pod-padding-vertical-screen-medium);

        }

        &.panel-frame-pull-bottom {

          margin-bottom: -((@grid-gutter-width-screen-medium * 0.5) + @container-pod-padding-vertical-screen-medium) + @base-spacing-unit-screen-medium;
          padding-bottom: ((@grid-gutter-width-screen-medium * 0.5) + @container-pod-padding-vertical-screen-medium);

        }

        &:flush-bottom {

          margin-bottom: -((@grid-gutter-width-screen-medium * 0.5) + @container-pod-padding-vertical-screen-medium);

        }

      }

    }

  }

}






& when (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Panel

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .panel {

      /* -----------------------------------------------------------------------------
      Panel (Frame)
      ----------------------------------------------------------------------------- */

      &.panel-frame {

        padding: @grid-gutter-width-screen-large * 0.5;
        margin: (-@grid-gutter-width-screen-large * 0.5) 0px;
        margin-bottom: @base-spacing-unit-screen-large * 0.5;

        &.panel-frame-pull-top {

          margin-top: -((@grid-gutter-width-screen-large * 0.5) + @container-pod-padding-vertical-screen-large);
          padding-top: ((@grid-gutter-width-screen-large * 0.5) + @container-pod-padding-vertical-screen-large);

        }

        &.panel-frame-pull-bottom {

          margin-bottom: -((@grid-gutter-width-screen-large * 0.5) + @container-pod-padding-vertical-screen-large) + @base-spacing-unit-screen-large;
          padding-bottom: ((@grid-gutter-width-screen-large * 0.5) + @container-pod-padding-vertical-screen-large);

        }

        &:flush-bottom {

          margin-bottom: -((@grid-gutter-width-screen-large * 0.5) + @container-pod-padding-vertical-screen-large);

        }

      }

    }

  }

}






& when (@screen-resolution-2x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 2x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}






& when (@screen-resolution-3x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 3x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {

  }

}
