.panel {
  background-color: @panel-background-color;
  margin-bottom: @grid-gutter-width;

  .border-radius(@icon-medium-border-radius);

  .panel-heading {
    display: flex;
    border-bottom: 1px solid @border-color-inverse;
    padding: @base-spacing-unit / 2;
    line-height: @heading-h3-text-line-height;

    .panel-title {
      text-align: center;
      flex: 1;
      .flush-top();
      .flush-bottom();
    }

    .panel-options-left {
      .flush-top();
      .flush-bottom();
    }

    .panel-options-right {
      margin-left: auto;
      .flush-top();
      .flush-bottom();

      /* Hacky - please remove after panel-options-right is filled with content */
      &.fixed-width {
        width: @base-spacing-unit * 7.5;
      }
    }

    &.panel-heading-large {
      padding: @base-spacing-unit @base-spacing-unit 0;
      border: 0;
    }
  }

  .panel-content {
    padding: @base-spacing-unit;
  }
}

& when (@screen-mini-enabled) {
  @media (min-width: @screen-mini) {
    .panel {
      margin-bottom: @grid-gutter-width;

      .panel-heading {
        padding: (@base-spacing-unit-screen-mini * 0.5) (@base-spacing-unit-screen-mini * 1);
      }

      .panel-content {
        padding: @base-spacing-unit-screen-mini * 1;
      }
    }
  }
}

& when (@screen-small-enabled) {
  @media (min-width: @screen-small) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-small;

      .panel-heading {
        padding: (@base-spacing-unit-screen-small * 0.25) (@base-spacing-unit-screen-small * 0.5);

       .panel-options-right {
          /* Hacky - please remove after panel-options-right is filled with content */
          &.fixed-width {
            width: @base-spacing-unit * 8.1;
          }
        }
      }

      .panel-content {
        padding: @base-spacing-unit-screen-small * 0.5;
      }
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-medium;

      .panel-heading {
        padding: (@base-spacing-unit-screen-medium * 0.25) (@base-spacing-unit-screen-medium * 0.5);

        .panel-options-right {
          /* Hacky - please remove after panel-options-right is filled with content */
          &.fixed-width {
            width: @base-spacing-unit * 8.8;
          }
        }

      }

      .panel-content {
        padding: @base-spacing-unit-screen-medium * 0.5;
      }
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .panel {
      margin-bottom: @grid-gutter-width-screen-large;

      .panel-heading {
        padding: (@base-spacing-unit-screen-large * 0.25) (@base-spacing-unit-screen-large * 0.5);
      }

      .panel-content {
        padding: @base-spacing-unit-screen-large * 0.5;
      }
    }
  }
}
