/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

layout/sidebar.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Sidebar

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

#sidebar {
	
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	margin-left: -((2 * (@grid-gutter-width / 2)) + @icon-glyph-small-width);
	padding-left: ((2 * (@grid-gutter-width / 2)) + @icon-glyph-small-width);
	overflow: hidden;
	background: ~`color_lightness("@{gray}", -50)`;
	z-index: 5000;
	.transition(left 0.3s ease);
	
	
	
	
	
	
	/* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    
    Sidebar Footer
    
    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */
	
	#sidebar-footer {
    	
    	width: 100%;
    	position: absolute;
    	bottom: 0px;
    	
    }
	
	
	
	
	
	
	/* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------
    
    Sidebar Navigation
    
    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */
	
	#sidebar-navigation {
    	
    	ul {
        	
        	padding: 0px;
        	margin: 0px -(@base-spacing-unit * 0.5);
        	
        	li {
            	
            	color: ~`color_lightness("@{gray}", 50)`;
            	margin: 0px;
                position: relative;
                
                &:after {
                    
                    content: '';
                    height: 1px;
                    background: rgba(255, 255, 255, 0.05);
                    position: absolute;
                    bottom: 0px;
                    left: (@base-spacing-unit * 0.25);
                    right: (@base-spacing-unit * 0.25);
                    
                }
                
                &:last-child {
                    
                    &:after {
                        
                        display: none;
                        
                    }
                    
                }
                
            	.icon {
                	
                	margin-right: (@base-spacing-unit * 0.25);
                	.opacity(0.40);
                	
            	}
            	
            	a {
                	
                	color: ~`color_lightness("@{gray}", 50)`;
                	display: block;
                	padding: (@base-spacing-unit * 0.5) (@base-spacing-unit * 0.5);
                	
                	&:hover {
                    	
                    	text-decoration: none;
                    	color: ~`color_lightness("@{gray}", 80)`;
                    	
                    	.icon {
                        	
                        	.opacity(0.80);
                        	
                    	}
                    	
                	}
                	
                	&:active {
                    	
                    	text-decoration: none;
                    	color: ~`color_lightness("@{gray}", 50)`;
                    	
                    	.icon {
                        	
                        	.opacity(0.40);
                        	
                    	}
                    	
                	}
                	
            	}
            	
            	&.selected {
                	
                	color: @white;
                	.box-shadow(inset 3px 0px 0px 0px @mesosphere-heliotrope);
                	
                	.icon {
                    	
                    	.opacity(1.00);
                    	
                	}
                	
                	a {
                    	
                    	color: @white;
                    	
                	}
                	
            	}
            	
        	}
        	
    	}
    	
	}
	
}

body.canvas-sidebar-open {
	
	#sidebar {
		
		left: 0px;
		
	}
	
	#page {
		
		left: 100%;
		margin-left: -((2 * (@grid-gutter-width / 2)) + @icon-glyph-small-width);
		position: fixed;
		
	}
	
}






& when (@screen-mini-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Mini (@screen-mini) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media (min-width: @screen-mini) {
		
	}
	
}






& when (@screen-small-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Small (@screen-small) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media (min-width: @screen-small) {
		
		/* ----------------------------------------------------------------------------------------------------
        -------------------------------------------------------------------------------------------------------
        
        Sidebar
        
        -------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------- */
        
        #sidebar {
            
            /* ----------------------------------------------------------------------------------------------------
            -------------------------------------------------------------------------------------------------------
            
            Sidebar Navigation
            
            -------------------------------------------------------------------------------------------------------
            ---------------------------------------------------------------------------------------------------- */
        	
        	#sidebar-navigation {
            	
            	ul {
                	
                	margin: 0px -(@base-spacing-unit-screen-small * 0.5);
                	
                	li {
                    	
                    	&:after {
                            
                            left: (@base-spacing-unit-screen-small * 0.25);
                            right: (@base-spacing-unit-screen-small * 0.25);
                            
                        }
                        
                    	.icon {
                        	
                        	margin-right: (@base-spacing-unit-screen-small * 0.25);
                        	
                    	}
                    	
                    	a {
                        	
                        	padding: (@base-spacing-unit-screen-small * 0.25) (@base-spacing-unit-screen-small * 0.5);
                        	
                    	}
                    	
                	}
                	
            	}
            	
        	}
            
        }
		
	}
	
}






& when (@screen-medium-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Medium (@screen-medium) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
		
	@media (min-width: @screen-medium) {
		
		/* ----------------------------------------------------------------------------------------------------
        -------------------------------------------------------------------------------------------------------
        
        Sidebar
        
        -------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------- */
        
        #sidebar {
            
            float: left;
            position: absolute;
        	top: auto;
        	left: auto;
        	width: 250px;
        	margin-left: auto;
        	padding-left: 0px;
        	overflow: hidden;
            .box-shadow(0px 0px 0px 1px rgba(255, 255, 255, 0.05));
            .transition(none);
            
            /* ----------------------------------------------------------------------------------------------------
            -------------------------------------------------------------------------------------------------------
            
            Sidebar Navigation
            
            -------------------------------------------------------------------------------------------------------
            ---------------------------------------------------------------------------------------------------- */
        	
        	#sidebar-navigation {
            	
            	ul {
                	
                	margin: 0px -(@base-spacing-unit-screen-medium * 0.5);
                	
                	li {
                    	
                    	&:after {
                            
                            left: (@base-spacing-unit-screen-medium * 0.25);
                            right: (@base-spacing-unit-screen-medium * 0.25);
                            
                        }
                        
                    	.icon {
                        	
                        	margin-right: (@base-spacing-unit-screen-medium * 0.25);
                        	
                    	}
                    	
                    	a {
                        	
                        	padding: (@base-spacing-unit-screen-medium * 0.25) (@base-spacing-unit-screen-medium * 0.5);
                        	
                    	}
                    	
                	}
                	
            	}
            	
        	}
            
        }
		
	}

}






& when (@screen-large-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Size: Large (@screen-large) and above
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */

	@media (min-width: @screen-large) {
		
		/* ----------------------------------------------------------------------------------------------------
        -------------------------------------------------------------------------------------------------------
        
        Sidebar
        
        -------------------------------------------------------------------------------------------------------
        ---------------------------------------------------------------------------------------------------- */
        
        #sidebar {
            
            width: 300px;
            
            /* ----------------------------------------------------------------------------------------------------
            -------------------------------------------------------------------------------------------------------
            
            Sidebar Navigation
            
            -------------------------------------------------------------------------------------------------------
            ---------------------------------------------------------------------------------------------------- */
        	
        	#sidebar-navigation {
            	
            	ul {
                	
                	margin: 0px -(@base-spacing-unit-screen-large * 0.5);
                	
                	li {
                    	
                    	&:after {
                            
                            left: (@base-spacing-unit-screen-large * 0.25);
                            right: (@base-spacing-unit-screen-large * 0.25);
                            
                        }
                        
                    	.icon {
                        	
                        	margin-right: (@base-spacing-unit-screen-large * 0.25);
                        	
                    	}
                    	
                    	a {
                        	
                        	padding: (@base-spacing-unit-screen-large * 0.25) (@base-spacing-unit-screen-large * 0.5);
                        	
                    	}
                    	
                	}
                	
            	}
            	
        	}
            
        }
		
	}
	
}






& when (@screen-resolution-2x-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Resolution: 2x
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		
	}
	
}






& when (@screen-resolution-3x-enabled) {
	
	/* ----------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------
	
	Screen Resolution: 3x
	
	-------------------------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------- */
	
	@media only screen and (-webkit-min-device-pixel-ratio: 3) {
		
	}
	
}