.badge {
  color: @body-background-color;
  font-size: @body-text-font-size;
  line-height: @body-text-line-height;
  padding: 0 @body-text-font-size * 0.5;
  background-color: @button-default-active-background-color;
  border-radius: 1000px !important;

  &:empty {
    display: none;
  }
}

.active {
  .badge {
    background-color: @white;
  }
}

.dot {
  background-color: @neutral;
  width: @body-text-font-size * 0.75;
  height: @body-text-font-size * 0.75;
  border-radius: 50%;

  &.danger {
    background-color: @text-danger-color;
  }

  &.success {
    background-color: @text-success-color;
  }
}

.badge-container {
  display: flex;

  :first-child {
    margin-right: 0.25 * @base-spacing-unit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: left;
  }

  .badge {
    margin-left: auto;
    flex-shrink: 0;
    align-self: center;
  }
}

.inverse .badge-container .badge,
.badge-container.inverse .badge {
  background-color: @white;
}

.table .dot {
  display: inline-block;
  margin-right: @base-spacing-unit * 0.25;
}
