svg .background {
  fill: fade(@gray, 80%);
}

.axis path,
.grid .tick,
.axis line {
  fill: none;
  stroke: @body-text-inverse-color;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  fill: @body-text-inverse-color;
}

.area path {
  stroke-width: 2px;
  fill-opacity: 0.3;
}

.arc path {
  stroke-width: 4px;
  stroke: @panel-background-color;

}

.arc,
.area,
.bar rect {
  &.path-color-0 {
    stroke: @mesosphere-heliotrope;
    fill: @mesosphere-heliotrope;
  }

  &.path-color-1 {
    stroke: @mesosphere-lemon;
    fill: @mesosphere-lemon;
  }

  &.path-color-2 {
    stroke: @mesosphere-mars;
    fill: @mesosphere-mars;
  }

  &.path-color-3 {
    stroke: @mesosphere-azure;
    fill: @mesosphere-azure;
  }

  &.path-color-4 {
    stroke: @mesosphere-seafoam;
    fill: @mesosphere-seafoam;
  }

  &.path-color-5 {
    stroke: @mesosphere-orchid;
    fill: @mesosphere-orchid;
  }
}

.barchart {
  .bar {
    fill-opacity: 0.5;
    stroke-width: 0px;

    line {
      fill-opacity: 1;
      stroke-width: 2px;

      &.hidden {
        stroke-width: 0px;
      }
    }
  }

  .axis {
    &.x path {
      display: none;
    }

    &.y path {
      stroke: @gray;
    }

    line {
      display: none;
    }
  }

  .grid {
    &.y {
      .tick:first-child line {
        stroke-dasharray: 0,0;
      }
    }

    line {
      stroke: @gray;
      stroke-dasharray: 4,4;
    }
  }
}

& when (@typography-enabled) {
  .unit {
    fill: ~`color_lightness("@{gray}", 100)`;
  }

  .unit-label {
    fill: @mesosphere-heliotrope;
    &.path-color-0 {
      color: @mesosphere-heliotrope;
    }

    &.path-color-1 {
      color: @mesosphere-lemon;
    }

    &.path-color-2 {
      color: @mesosphere-mars;
    }

    &.path-color-3 {
      color: @mesosphere-azure;
    }

    &.path-color-4 {
      color: @mesosphere-seafoam;
    }

    &.path-color-5 {
      color: @mesosphere-orchid;
    }
  }

  .text-danger {
    fill: ~`color_lightness("@{mesosphere-mars}", 0)`;
  }

  .text-success {
    fill: ~`color_lightness("@{mesosphere-seafoam}", 0)`;
  }

  .text-muted {
    fill: @body-text-mute-color;
  }
}
