.chart {
  svg .background {
    fill: fade(@neutral, 80%);
  }

  .axis path,
  .grid .tick,
  .axis line {
    fill: none;
    stroke: @body-text-inverse-color;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: @body-text-inverse-color;
  }

  .area path {
    stroke-width: 2px;
    fill-opacity: 0.3;
  }

  .arc path {
    stroke-width: 4px;
    stroke: @panel-background-color;

  }

  .arc,
  .area,
  .bar rect {
    &.path-color-0 {
      stroke: @purple;
      fill: @purple;
    }

    &.path-color-1 {
      stroke: @yellow;
      fill: @yellow;
    }

    &.path-color-2 {
      stroke: @red;
      fill: @red;
    }

    &.path-color-3 {
      stroke: @blue;
      fill: @blue;
    }

    &.path-color-4 {
      stroke: @green;
      fill: @green;
    }

    &.path-color-5 {
      stroke: @orchid;
      fill: @orchid;
    }

    &.path-color-6 {
      stroke: @body-text-mute-color;
      fill: @body-text-mute-color;
    }
  }

  .barchart {
    .bar {
      fill-opacity: 0.5;
      stroke-width: 0px;

      line {
        fill-opacity: 1;
        stroke-width: 2px;

        &.hidden,
        &.invisble {
          stroke-width: 0px;
        }
      }
    }

    .axis {
      &.x path {
        display: none;
      }

      &.y path {
        stroke: @neutral;
      }

      line {
        display: none;
      }
    }

    .grid {
      &.y {
        .tick:first-child line {
          stroke-dasharray: 0,0;
        }
      }

      line {
        stroke: @neutral;
        stroke-dasharray: 4,4;
      }
    }
  }

  & when (@typography-enabled) {
    .unit {
      fill: ~`color_lightness("@{neutral}", 100)`;
    }

    .unit-label {
      fill: @purple;
      &.path-color-0 {
        color: @purple;
      }

      &.path-color-1 {
        color: @yellow;
      }

      &.path-color-2 {
        color: @red;
      }

      &.path-color-3 {
        color: @blue;
      }

      &.path-color-4 {
        color: @green;
      }

      &.path-color-5 {
        color: @orchid;
      }

      &.path-color-6 {
        color: @body-text-mute-color;
      }
    }

    .text-danger {
      fill: ~`color_lightness("@{red}", 0)`;
    }

    .text-success {
      fill: ~`color_lightness("@{green}", 0)`;
    }

    .text-muted {
      fill: @body-text-mute-color;
    }
  }

  .legend {

    display: table;
    margin: 0 auto;
    text-align: center;
    float: right;

    border: @button-border-width solid @button-default-background-color;
    .border-radius(@icon-medium-border-radius);

    .legend-item {
      padding-left: @base-spacing-unit * 0.5;
      padding-right: @base-spacing-unit * 0.5;
      padding-top: @button-text-line-height * 0.5 - @button-border-width;
      padding-bottom: @button-text-line-height * 0.5 - @button-border-width;
      margin: 0;

      .line {
        display: inline-block;
        border-top: 4px solid;
        height: (@body-text-font-size) * 0.5;
        width: @base-spacing-unit * 0.5;
        margin-right: @base-spacing-unit * 0.25;
        line-height: @button-text-line-height;

        &.path-color-0 {
          color: @purple;
        }

        &.path-color-1 {
          color: @yellow;
        }

        &.path-color-2 {
          color: @red;
        }

        &.path-color-3 {
          color: @blue;
        }

        &.path-color-4 {
          color: @green;
        }

        &.path-color-5 {
          color: @orchid;
        }

        &.path-color-6 {
          color: @body-text-mute-color;
        }
      }
    }

  }
}
