.dropdown {
  > .button {
    /* This is for IE10, ẃhat avoid overflow long text,
    because flexbox isn't working and isn't setting the width of the elements */
    width: floor(@dropdown-menu-width-minimum * @dropdown-menu-scale-screen-medium);
    overflow: hidden;
  }

  > .dropdown-menu {
    margin-top: @base-spacing-unit * 0.5 + @button-border-width * 2;
  }

  > .dropdown-toggle:after {
    display: flex;
    margin-top: -0.5 * @base-spacing-unit;
    margin-left: auto;
    margin-bottom: 0.25 * @base-spacing-unit;
  }

  > .dropdown-menu,
  > .dropdown-toggle {
    width: floor(@dropdown-menu-width-minimum * @dropdown-menu-scale-screen-medium);
  }

  > .dropdown-toggle > :first-child {
    width: floor(@dropdown-menu-width-minimum * @dropdown-menu-scale-screen-medium)
      - @base-spacing-unit * 2;
  }
}
