.dropdown {
  > .dropdown-toggle {
    display: flex;
    overflow: hidden;

    &:after {
      // size of triangle is 6px
      margin-top: 0.5 * @base-spacing-unit - 3px;
      margin-left: auto;
    }

    > :last-child {
      margin-right: 0.25 * @base-spacing-unit;
    }
  }

  > .dropdown-menu,
  > .dropdown-toggle {
    width: floor(@dropdown-menu-width-minimum * @dropdown-menu-scale-screen-medium);
  }

  > .dropdown-toggle > :first-child {
    width: floor(@dropdown-menu-width-minimum * @dropdown-menu-scale-screen-medium)
      - @base-spacing-unit * 1.25;
  }
}
