.list-component-item {
	.flexbox;
	flex-direction: row;
  padding: 0;
}

.list-component-item > * {
  flex-grow: 1;
  margin: (@base-spacing-unit * 0.25) 0;
}


& when (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {
    margin: (@base-spacing-unit-screen-mini * 0.25) 0;
  }

}






& when (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {
    margin: (@base-spacing-unit-screen-small * 0.25) 0;
  }

}






& when (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {
    margin: (@base-spacing-unit-screen-medium * 0.25) 0;
  }

}






& when (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {
    margin: (@base-spacing-unit-screen-large * 0.25) 0;
  }

}

