.multiple-form {
  height: 452px;

  .column-4.gm-scrollbar-container {
    width: 33%;
    height: 100%;
    padding: 0;
  }

  .column-8.gm-scrollbar-container {
    width: 66%;
    height: 100%;
    overflow: auto;
    padding-right: 0;
  }

  .column-12.form-row-element {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}
