.service-list-component {
  display: flex;

 .list {

   display: flex;
   flex-direction: column;

   .list-item {

     &:first-child {

       padding-top: 0;

     }

     &:last-child {

       padding-bottom: 0;

     }
     
   }

  a:hover {
    color: @white;
  }
 }
}
