& when (@table-enabled) and (@table-cell-default-inverse-enabled) {
  .table {
    // create row-hover style
    &.inverse {
      .headline {
        color: @white;
      }
    }

    tr {
      > td,
      > th {
        outline: none;
        .icon {
          vertical-align: middle;
          margin-right: @base-spacing-unit * 0.25;
        }
        span {
          vertical-align: middle;
        }
      }
    }
  }
}
