.user-dropdown-menu.dropdown {
  bottom: 0;
  display: none;
  // Get rid of extra space in the bottom
  margin-bottom: -5px;

  .dropdown-menu {
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    top: auto;
    transform-origin: bottom center;
    width: 100%;
    z-index: @z-index-modal + 1;

    .dropdown-menu-list {
      // Override dropdown menu margins
      margin-left: 0;
      margin-right: 0;
      margin-top: 5px;
    }

    .icon-buttons {
      display: flex;
      flex-direction: row;

      .button {
        background-color: transparent;
        border-bottom: 1px solid color-lighten(@black, 90);
        border-top-width: 0;
        border-left-width: 0;
        border-radius: 0;
        flex-grow: 1;
        height: auto;

        .icon {
          opacity: 0.7;
          transition: opacity 5s;

          &:hover {
            opacity: 1;
          }

        }

        &:last-child {
          border-right-width: 0;
        }

      }

      .user-dropdown {
        align-items: center;
        display: flex;

        .user-description {
          flex: 1;
          text-align: left;
          display: none;
        }
      }
    }
  }
}

& when (@screen-medium-enabled) {
  @media (min-width: @screen-medium) {
  .user-dropdown-menu.dropdown {
      display: block;

      .dropdown-menu {
        width: 250px;

        .icon-buttons .user-dropdown {
          .icon {
            margin-right: (@base-spacing-unit-screen-medium * 0.5);
          }

          .user-description {
            display: block;
          }
        }
      }
    }
  }
}

& when (@screen-large-enabled) {
  @media (min-width: @screen-large) {
    .user-dropdown-menu.dropdown {
      display: block;

      .dropdown-menu {
        width: 300px;

        .icon-buttons .user-dropdown .icon {
          margin-right: (@base-spacing-unit-screen-large * 0.5);
        }
      }
    }
  }
}
