/*
 * Original varaibles
 */


// Modal Transitions
@modal-background-color: @white;
@modal-border-radius: 10px;

// Modal Header Styling
@modal-header-background-color: @canvas-pod-light-background-color;

// Modal Content Styling
@modal-content-background-color: @white;

// Modal Footer Styling
@modal-footer-background-color: @canvas-pod-light-background-color;
@modal-width-narrow: 350px;
