/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

variables/colors.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Colors

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------------------
Grayscale
---------------------------------------------------------------------------------------------------- */

@white:																							#ffffff;
@gray:																							#323a4e;
@black:																							#000000;



/* ----------------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------------- */

@mesosphere-heliotrope:                                                                         #9351e5;
@mesosphere-fuchsia:                                                                            #ef468b;
@mesosphere-mars:                                                                               #fc4661;
@mesosphere-pumpkin:                                                                            #f56753;
@mesosphere-lemon:                                                                              #fedf57;
@mesosphere-seafoam:                                                                            #27c97b;
@mesosphere-azure:                                                                              #4677E5;
@mesosphere-powder:                                                                             #20d5ff;
@mesosphere-orchid:                                                                             #c0f3d7;



/* ----------------------------------------------------------------------------------------------------
Social Networks
---------------------------------------------------------------------------------------------------- */

@facebook:																						#3b5998;
@twitter:																						#55acee;
@google-plus:																					#db4437;
@linked-in:																						#0976b4;