@font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@text-danger-color: @red;
@text-warning-color: @yellow;
@text-success-color: @green;
@text-muted-color: @body-text-mute-color;

/* Body Text Styling */
@body-text-font-size: 12px;
@body-text-line-height: 16px;

/* Body Text Margins */
@body-text-margin-bottom: @base-spacing-unit * 0.25;
@body-text-short-margin-bottom: @base-spacing-unit * 0.1;

/* Body Text Responsive Scaling */
@body-text-font-size-scale-screen-medium: 1.1;
@body-text-font-size-scale-screen-large: 1.1;

/* Body Text Inverse Styling */
@body-text-inverse-color: color-lighten(@neutral, 50);
@body-text-inverse-emphasize-color: color-lighten(@neutral, 80);

/* Heading H1 Text Styling */
@heading-h1-text-color: color-lighten(@neutral, 100);
@heading-h1-text-inverse-color: color-lighten(@neutral, -80);
@heading-h1-text-font-size: @heading-h2-text-font-size * 1.3;
@heading-h1-text-font-weight: 100;
@heading-h1-text-line-height: @heading-h2-text-line-height * 1.3;

/* Heading H1 Text Responsive Scaling */
@heading-h1-text-font-size-scale-screen-large: @body-text-font-size-scale-screen-large * 1.2;

/* Heading H2 Text Styling */
@heading-h2-text-color: color-lighten(@neutral, 100);
@heading-h2-text-inverse-color: @neutral;
@heading-h2-text-font-size: @heading-h3-text-font-size * 1.1;
@heading-h2-text-font-weight: 200;
@heading-h2-text-line-height: @heading-h3-text-line-height * 1.1;

/* Heading H2 Text Responsive Scaling */
@heading-h2-text-font-size-scale-screen-medium: @body-text-font-size-scale-screen-medium * 1.0;
@heading-h2-text-font-size-scale-screen-large: @body-text-font-size-scale-screen-large * 1.0;

/* Heading H3 Text Styling */
@heading-h3-text-color: color-lighten(@neutral, 90);
@heading-h3-text-font-size: @heading-h4-text-font-size * 1.1;
@heading-h3-text-font-weight: 200;

/* Heading H4 Text Styling */
@heading-h4-text-color: color-lighten(@neutral, 80);
@heading-h4-text-font-size: @heading-h5-text-font-size * 1.2;
@heading-h4-text-font-weight: 200;
@heading-h4-text-line-height: @heading-h5-text-line-height * 1.2;

/* Heading H5 Text Styling */
@heading-h5-text-color: color-lighten(@neutral, 70);
@heading-h5-text-font-size: @heading-h6-text-font-size * 1.0;
@heading-h5-text-font-weight: 500;
@heading-h5-text-line-height: @heading-h6-text-line-height * 1.0;

/* Heading H5 Text Margins */
@heading-h5-text-margin-top: @heading-h5-text-margin-bottom * 1.1;

/* Heading H6 Text Styling */
@heading-h6-text-color: color-lighten(@neutral, 60);
@heading-h6-text-font-weight: 400;
@heading-h6-text-shadow: none;

/* Heading H6 Text Margins */
@heading-h6-text-margin-top: @heading-h6-text-margin-bottom * 1.1;

/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Heading H1 Text

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */



@heading-h1-jumbo-text-enabled: @body-text-enabled;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Styling
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-color: color-lighten(@neutral, 100);
@heading-h1-jumbo-text-font-family: @font-family-sans-serif;
@heading-h1-jumbo-text-font-size: @heading-h1-text-font-size * 1.6;
@heading-h1-jumbo-text-font-style: normal;
@heading-h1-jumbo-text-font-weight: 100;
@heading-h1-jumbo-text-line-height: @heading-h1-text-font-size * 1.6;
@heading-h1-jumbo-text-transform: none;
@heading-h1-jumbo-text-shadow: none;


/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Links
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-link-enabled: false;

@heading-h1-jumbo-text-link-text-color: @body-text-link-text-color;
@heading-h1-jumbo-text-link-text-decoration: @body-text-link-text-decoration;

@heading-h1-jumbo-text-link-hover-text-color: @body-text-link-hover-text-color;
@heading-h1-jumbo-text-link-hover-text-decoration: @body-text-link-hover-text-decoration;

@heading-h1-jumbo-text-link-active-text-color: @body-text-link-active-text-color;
@heading-h1-jumbo-text-link-active-text-decoration: @body-text-link-active-text-decoration;

@heading-h1-jumbo-text-link-disabled-text-color: @body-text-link-disabled-text-color;
@heading-h1-jumbo-text-link-disabled-text-decoration: @body-text-link-disabled-text-decoration;
@heading-h1-jumbo-text-link-disabled-opacity: @body-text-link-disabled-opacity;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Margins
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-margin-top: @heading-h1-jumbo-text-margin-bottom * 2.0;
@heading-h1-jumbo-text-margin-bottom: @heading-h1-text-margin-top;

@heading-h1-jumbo-text-short-margin-top: @heading-h1-jumbo-text-margin-top * 0.5;
@heading-h1-jumbo-text-short-margin-bottom: @heading-h1-jumbo-text-margin-bottom * 0.5;

@heading-h1-jumbo-text-tall-margin-top: @heading-h1-jumbo-text-margin-top * 2.0;
@heading-h1-jumbo-text-tall-margin-bottom: @heading-h1-jumbo-text-margin-bottom * 2.0;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Responsive Scaling
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-scale-screen-mini: @body-text-scale-screen-mini;
@heading-h1-jumbo-text-scale-screen-small: @body-text-scale-screen-small;
@heading-h1-jumbo-text-scale-screen-medium: @body-text-scale-screen-medium;
@heading-h1-jumbo-text-scale-screen-large: @body-text-scale-screen-large;

@heading-h1-jumbo-text-font-size-scale-screen-mini: @body-text-font-size-scale-screen-mini * 1.0;
@heading-h1-jumbo-text-font-size-scale-screen-small: @body-text-font-size-scale-screen-small * 1.1;
@heading-h1-jumbo-text-font-size-scale-screen-medium: @body-text-font-size-scale-screen-medium * 1.2;
@heading-h1-jumbo-text-font-size-scale-screen-large: @body-text-font-size-scale-screen-large * 1.3;

@heading-h1-jumbo-text-line-height-scale-screen-mini: @heading-h1-jumbo-text-font-size-scale-screen-mini;
@heading-h1-jumbo-text-line-height-scale-screen-small: @heading-h1-jumbo-text-font-size-scale-screen-small;
@heading-h1-jumbo-text-line-height-scale-screen-medium: @heading-h1-jumbo-text-font-size-scale-screen-medium;
@heading-h1-jumbo-text-line-height-scale-screen-large: @heading-h1-jumbo-text-font-size-scale-screen-large;

@heading-h1-jumbo-text-margin-top-scale-screen-mini: @body-text-margin-top-scale-screen-mini;
@heading-h1-jumbo-text-margin-top-scale-screen-small: @body-text-margin-top-scale-screen-small;
@heading-h1-jumbo-text-margin-top-scale-screen-medium: @body-text-margin-top-scale-screen-medium;
@heading-h1-jumbo-text-margin-top-scale-screen-large: @body-text-margin-top-scale-screen-large;

@heading-h1-jumbo-text-margin-bottom-scale-screen-mini: @body-text-margin-bottom-scale-screen-mini;
@heading-h1-jumbo-text-margin-bottom-scale-screen-small: @body-text-margin-bottom-scale-screen-small;
@heading-h1-jumbo-text-margin-bottom-scale-screen-medium: @body-text-margin-bottom-scale-screen-medium;
@heading-h1-jumbo-text-margin-bottom-scale-screen-large: @body-text-margin-bottom-scale-screen-large;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Emphasize
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-emphasize-enabled: @body-text-emphasize-enabled;

// Heading H1 Text Emphasize Styling

@heading-h1-jumbo-text-emphasize-color: color-lighten(@neutral, -100);
@heading-h1-jumbo-text-emphasize-font-family: @heading-h1-jumbo-text-font-family;
@heading-h1-jumbo-text-emphasize-font-size: @heading-h1-jumbo-text-font-size;
@heading-h1-jumbo-text-emphasize-font-style: @heading-h1-jumbo-text-font-style;
@heading-h1-jumbo-text-emphasize-font-weight: 700;
@heading-h1-jumbo-text-emphasize-line-height: @heading-h1-jumbo-text-line-height;
@heading-h1-jumbo-text-emphasize-transform: @heading-h1-jumbo-text-transform;
@heading-h1-jumbo-text-emphasize-shadow: @heading-h1-jumbo-text-shadow;

// Heading H1 Text Emphasize Links

@heading-h1-jumbo-text-emphasize-link-enabled: false;

@heading-h1-jumbo-text-emphasize-link-text-color: @heading-h1-jumbo-text-link-text-color;
@heading-h1-jumbo-text-emphasize-link-text-decoration: @heading-h1-jumbo-text-link-text-decoration;

@heading-h1-jumbo-text-emphasize-link-hover-text-color: @heading-h1-jumbo-text-link-hover-text-color;
@heading-h1-jumbo-text-emphasize-link-hover-text-decoration: @heading-h1-jumbo-text-link-hover-text-decoration;

@heading-h1-jumbo-text-emphasize-link-active-text-color: @heading-h1-jumbo-text-link-active-text-color;
@heading-h1-jumbo-text-emphasize-link-active-text-decoration: @heading-h1-jumbo-text-link-active-text-decoration;

@heading-h1-jumbo-text-emphasize-link-disabled-text-color: @heading-h1-jumbo-text-link-disabled-text-color;
@heading-h1-jumbo-text-emphasize-link-disabled-text-decoration: @heading-h1-jumbo-text-link-disabled-text-decoration;
@heading-h1-jumbo-text-emphasize-link-disabled-opacity: @heading-h1-jumbo-text-link-disabled-opacity;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Text Mute
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-mute-enabled: @body-text-mute-enabled;

// Heading H1 Text Mute Styling

@heading-h1-jumbo-text-mute-color: color-lighten(@neutral, 0);
@heading-h1-jumbo-text-mute-font-family: @heading-h1-jumbo-text-font-family;
@heading-h1-jumbo-text-mute-font-size: @heading-h1-jumbo-text-font-size;
@heading-h1-jumbo-text-mute-font-style: @heading-h1-jumbo-text-font-style;
@heading-h1-jumbo-text-mute-font-weight: 200;
@heading-h1-jumbo-text-mute-line-height: @heading-h1-jumbo-text-line-height;
@heading-h1-jumbo-text-mute-transform: @heading-h1-jumbo-text-transform;
@heading-h1-jumbo-text-mute-shadow: @heading-h1-jumbo-text-shadow;

// Heading H1 Text Mute Links

@heading-h1-jumbo-text-mute-link-enabled: false;

@heading-h1-jumbo-text-mute-link-text-color: @heading-h1-jumbo-text-link-text-color;
@heading-h1-jumbo-text-mute-link-text-decoration: @heading-h1-jumbo-text-link-text-decoration;

@heading-h1-jumbo-text-mute-link-hover-text-color: @heading-h1-jumbo-text-link-hover-text-color;
@heading-h1-jumbo-text-mute-link-hover-text-decoration: @heading-h1-jumbo-text-link-hover-text-decoration;

@heading-h1-jumbo-text-mute-link-active-text-color: @heading-h1-jumbo-text-link-active-text-color;
@heading-h1-jumbo-text-mute-link-active-text-decoration: @heading-h1-jumbo-text-link-active-text-decoration;

@heading-h1-jumbo-text-mute-link-disabled-text-color: @heading-h1-jumbo-text-link-disabled-text-color;
@heading-h1-jumbo-text-mute-link-disabled-text-decoration: @heading-h1-jumbo-text-link-disabled-text-decoration;
@heading-h1-jumbo-text-mute-link-disabled-opacity: @heading-h1-jumbo-text-link-disabled-opacity;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Inverse
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-inverse-enabled: @body-text-inverse-enabled;

// Heading H1 Text Inverse Styling

@heading-h1-jumbo-text-inverse-color: color-lighten(@neutral, -80);
@heading-h1-jumbo-text-inverse-shadow: @heading-h1-jumbo-text-shadow;

// Heading H1 inverse Links

@heading-h1-jumbo-text-inverse-link-enabled: false;

@heading-h1-jumbo-text-inverse-link-text-color: @heading-h1-jumbo-text-link-text-color;
@heading-h1-jumbo-text-inverse-link-text-decoration: @heading-h1-jumbo-text-link-text-decoration;

@heading-h1-jumbo-text-inverse-link-hover-text-color: @heading-h1-jumbo-text-link-hover-text-color;
@heading-h1-jumbo-text-inverse-link-hover-text-decoration: @heading-h1-jumbo-text-link-hover-text-decoration;

@heading-h1-jumbo-text-inverse-link-active-text-color: @heading-h1-jumbo-text-link-active-text-color;
@heading-h1-jumbo-text-inverse-link-active-text-decoration: @heading-h1-jumbo-text-link-active-text-decoration;

@heading-h1-jumbo-text-inverse-link-disabled-text-color: @heading-h1-jumbo-text-link-disabled-text-color;
@heading-h1-jumbo-text-inverse-link-disabled-text-decoration: @heading-h1-jumbo-text-link-disabled-text-decoration;
@heading-h1-jumbo-text-inverse-link-disabled-opacity: @heading-h1-jumbo-text-link-disabled-opacity;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Inverse Emphasize
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-inverse-emphasize-enabled: @body-text-inverse-emphasize-enabled;

// Heading H1 Inverse Emphasize Styling

@heading-h1-jumbo-text-inverse-emphasize-color: color-lighten(@neutral, 70);
@heading-h1-jumbo-text-inverse-emphasize-shadow: @heading-h1-jumbo-text-inverse-shadow;

// Heading H1 Inverse Emphasize Links

@heading-h1-jumbo-text-inverse-emphasize-link-enabled: false;

@heading-h1-jumbo-text-inverse-emphasize-link-text-color: @heading-h1-jumbo-text-inverse-link-text-color;
@heading-h1-jumbo-text-inverse-emphasize-link-text-decoration: @heading-h1-jumbo-text-inverse-link-text-decoration;

@heading-h1-jumbo-text-inverse-emphasize-link-hover-text-color: @heading-h1-jumbo-text-inverse-link-hover-text-color;
@heading-h1-jumbo-text-inverse-emphasize-link-hover-text-decoration: @heading-h1-jumbo-text-inverse-link-hover-text-decoration;

@heading-h1-jumbo-text-inverse-emphasize-link-active-text-color: @heading-h1-jumbo-text-inverse-link-active-text-color;
@heading-h1-jumbo-text-inverse-emphasize-link-active-text-decoration: @heading-h1-jumbo-text-inverse-link-active-text-decoration;

@heading-h1-jumbo-text-inverse-emphasize-link-disabled-text-color: @heading-h1-jumbo-text-inverse-link-disabled-text-color;
@heading-h1-jumbo-text-inverse-emphasize-link-disabled-text-decoration: @heading-h1-jumbo-text-inverse-link-disabled-text-decoration;
@heading-h1-jumbo-text-inverse-emphasize-link-disabled-opacity: @heading-h1-jumbo-text-inverse-link-disabled-opacity;



/* ----------------------------------------------------------------------------------------------------
Heading H1 Inverse Mute
---------------------------------------------------------------------------------------------------- */

@heading-h1-jumbo-text-inverse-mute-enabled: @body-text-inverse-mute-enabled;

// Heading H1 Inverse Mute Styling

@heading-h1-jumbo-text-inverse-mute-color: color-lighten(@neutral, -10);
@heading-h1-jumbo-text-inverse-mute-shadow: @heading-h1-jumbo-text-inverse-shadow;

// Heading H1 Inverse Mute Links

@heading-h1-jumbo-text-inverse-mute-link-enabled: false;

@heading-h1-jumbo-text-inverse-mute-link-text-color: @heading-h1-jumbo-text-inverse-link-text-color;
@heading-h1-jumbo-text-inverse-mute-link-text-decoration: @heading-h1-jumbo-text-inverse-link-text-decoration;

@heading-h1-jumbo-text-inverse-mute-link-hover-text-color: @heading-h1-jumbo-text-inverse-link-hover-text-color;
@heading-h1-jumbo-text-inverse-mute-link-hover-text-decoration: @heading-h1-jumbo-text-inverse-link-hover-text-decoration;

@heading-h1-jumbo-text-inverse-mute-link-active-text-color: @heading-h1-jumbo-text-inverse-link-active-text-color;
@heading-h1-jumbo-text-inverse-mute-link-active-text-decoration: @heading-h1-jumbo-text-inverse-link-active-text-decoration;

@heading-h1-jumbo-text-inverse-mute-link-disabled-text-color: @heading-h1-jumbo-text-inverse-link-disabled-text-color;
@heading-h1-jumbo-text-inverse-mute-link-disabled-text-decoration: @heading-h1-jumbo-text-inverse-link-disabled-text-decoration;
@heading-h1-jumbo-text-inverse-mute-link-disabled-opacity: @heading-h1-jumbo-text-inverse-link-disabled-opacity;
