/* grid */
@grid-container-width-screen-mini: 480px;

/* z-index depths */
@z-index-header: 1000;

/* body */
@body-background-color: ~`color_lightness("@{neutral}", -30)`;//#232937

/* canvas */
@canvas-background-color: ~`color_lightness("@{neutral}", -30)`;

/* canvas pod */
@canvas-pod-light-background-color: ~`color_lightness("@{neutral}", 90)`;

/* borders */
@border-color: rgba(255, 255, 255, 0.1);
@border-color-inverse: @neutral;

/* collection */
@table-row-height: @icon-small-height + @base-spacing-unit;
@table-row-height-small: @icon-small-height + @base-spacing-unit;
@table-header-border-radius: @button-large-border-radius;

@caret-width-base: 4px;

@progress-bar-height: 4px;
@progress-bar-width: @base-spacing-unit * 2;
