// TODO: Move this to the appropriate place.

/* -----------------------------------------------------------------------------
Status Bar
----------------------------------------------------------------------------- */

@status-bar-height:                                                             @base-spacing-unit * 1/3;
@status-bar-width:                                                              114px;

@sidebar-width:                                                                 200px;
@sidebar-width-screen-large:                                                    220px;
@sidebar-width-screen-jumbo:                                                    240px;
