@modal-width-screen-small: 550px;
@modal-width-screen-medium: 600px;
@modal-width-screen-large: 700px;
@modal-inverse-text-color: @white;
@modal-inverse-background-color: ~`color_lightness("@{neutral}", -20)`;
@modal-inverse-header-background-color: @canvas-pod-dark-background-color;
@modal-inverse-content-background-color:~`color_lightness("@{neutral}", -20)`;
@modal-inverse-footer-background-color: @canvas-pod-dark-background-color;
