.chart-dialchart {
  position: relative;

  .description {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
}



/**********************************/
/*  Specific to Nodes Grid View   */
/**********************************/
.nodes-grid {
  margin-left: -(ceil(@base-spacing-unit * 0.3333));
  margin-right: -(ceil(@base-spacing-unit * 0.3333));
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .nodes-grid-item {
    margin: ceil(@base-spacing-unit * 0.3333);
    width: ceil(@base-spacing-unit * 3.33);

    .chart-dialchart {
      // Remove stroke when dials are in small containers
      .arc path {
        stroke-width: 1px;
        stroke: @panel-background-color;
      }

      .unit {
        color: @white;
        font-size: 16px;
        margin-bottom: 0 !important;
      }

      .unit-label {
        font-size: 11px;
      }

      .error {
        margin-bottom: @base-spacing-unit * 0.5 !important;
      }
    }
  }

  .nodes-grid-spacer {
    margin: ceil(@base-spacing-unit * 0.3333);
    width: ceil(@base-spacing-unit * 3.33);
    height: 0;
    overflow: hidden;
  }
}
